*{
    margin: 0;
    padding: 0;
   
}


.container{
    background-color: cadetblue;
    width: 550px;
    height: 700px;
    margin: auto;
    margin-top: 65px;
    border-radius: 8px;

}
.ptag{
    text-align:center;
    padding-top: 40px;
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
}
.input-element{
    width: 90%;
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
    /* padding:5px */
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 20px;
}
.cb{
    margin-left: 10px;
}
.btn{
    margin-left: 100px;
}
.already{
    text-align: center;
}
.lg{
    text-align: center;
    ;
}